---
// src/components/Clients.astro
// Replaced inline styles for alignment with a clean CSS class wrapper if you wish, 
// though retained the style tag here so it doesn't break your existing CSS.
---
<section id="clients" class="main special">
	<header class="major">
		<h2>Our Clients</h2>
		<p>We are proud to have supported and partnered with top-tier corporations, governmental entities, and global industry organizations over the years.</p>
	</header>
	<div class="box alt">
		<div class="row gtr-uniform">
			<!-- Note: the inline styles here are a bit repetitive. If you wanted to improve this further, you could move `display: flex; align-items: center; justify-content: center;` to the `.col-2` class in your CSS file. -->
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/bechtel.svg" alt="Bechtel" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/neom.svg" alt="Neom" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/sami.svg" alt="SAMI" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/inochem.png" alt="Inochem" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/trojena.png" alt="Trojena" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/usembassy.svg" alt="US Embassy" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/tatco.png" alt="Tatco" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/dynamicind.png" alt="Dynamic Industries" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/sysils.png" alt="Sysils" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/gcs.png" alt="GCS" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/gulfcryo.svg" alt="Gulf Cryo" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/sauditabreed.png" alt="Saudi Tabreed" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/raytheon.svg" alt="Raytheon" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/technogenia.png" alt="Technogenia" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/alkaam.png" alt="Alkaam" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/infovision.png" alt="InfoVision" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/phuel.svg" alt="Phuel" /></span></div>
			<div class="col-2" style="display: flex; align-items: center; justify-content: center;"><span class="image fit"><img src="/images/farisnashat.png" alt="Faris Nashat" /></span></div>
		</div>
	</div>
</section>