---
// src/components/Nav.astro
---
<nav id="nav">
	<ul>
		<li><a href="#intro" class="active">About Us</a></li>
		<li><a href="#services">Our Services</a></li>
		<li><a href="#airlines">Partner Airlines</a></li>
		<li><a href="#clients">Our Clients</a></li>
		<li><a href="#enquiry">Submit an Enquiry</a></li>
		<li><a href="#footer">Contact Us</a></li>
	</ul>
</nav>